<% if alert %>
<div id="alert">
  <%= alert %></div>
<% end %>
<p class="letters_display">
 <label class="guessed_label">Guessed letters:</label> 
  <%= @game.incorrectly_guessed_letters.join(" ")  %></p>
<p class="letters_display">
  Current Progress:
  <%= letters_filterd_by_guessed(@game, @game.all_guessed_letters).join(" ") %></p>
  
<% if @game.in_progress? %>
  <%= render 'guess_input' %>
<% end %>
<div class="game_display">
  <%= render 'game_display' %>
</div>


<% if !@game.in_progress? %>
  <%= render 'win_lose_display' %> 
<% end %>   

