<% if alert %>
<div id="alert">
  <%= alert %></div>
<% end %>

<table class="game_table">
  <tr>
    <td>
     <label class="guessed_label">Guessed Letters:</label>
    </td>
    <td>
      <%= @game.incorrect_single_letter_guesses.join(" ")  %>
    </td>
  </tr>
  <tr>
    <td>
      <label>Current Progress:</label> 
    </td> 
    <td>
      <%= letters_filterd_by_guessed(@game, @game.all_guessed_letters).join(" ") %>
    </td>
  </tr>
  <tr>
    
  </tr>
</table>





<div>
<% if @game.in_progress? %>
<%= render 'guess_input' %>
<% end %>
</div>

<div class="game_display">
  <%= render 'game_display' %></div>

<% if !@game.in_progress? %>
<%= render 'win_lose_display' %>
<% end %>